name: Generate Feeds

on:
  workflow_dispatch:
  schedule:
    - cron: '14 17 * * *'

jobs:
  fetch:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Check out repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: true
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libxml2-utils
    - name: Fetch data and generate feeds
      run: |
        for script in "$(pwd)/Scripts/"*
        do
          echo "Running $(basename "${script}")..."
          "${script}"
        done
    - name: Set up git user
      run: |
        git config user.name "github-actions"
        git config user.email "actions@users.noreply.github.com"
    - name: Commit if there are changes then push
      run: |
        git add --all
        git diff-index --quiet HEAD || git commit --message 'Updated feeds'
        git push
